* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-weight: normal;
    position: relative;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

body {
    margin: auto;
}

html, body {
    overflow-x: hidden;
}

html.overflow {
    overflow: hidden;
    padding-right: 17px;
}

/*** TEXT ***/

h1, h2, h3 {
    margin-bottom: 30px;
}

h2 {
    display: inline-block;
}

p, li, td {
    line-height: 1.4;
}

sup {
    font-size: .6em;
}

a {
    transition-duration: .2s;
}

/*** LIST ***/

main li {
    list-style: none;
    margin-bottom: 5px;
    padding-left: 30px;
}

main li img {
    display: inline-block;
    vertical-align: middle;
}

main li::before {
    content: "";
    left: 0;
    top: 5px;
    width: 8px;
    height: 8px;
    display: block;
    margin-right: 15px;
    position: absolute;
    transform: rotate(45deg);
    background-color: #000000;
}

/*** IMAGES ***/

img {
    display: block;
    max-width: 100%;
}

.img {
    align-self: stretch;
}

.img > div {
    height: 100%;
    min-height: 400px;
}

/*** MAIN STRUCTURE ***/

section {
    width: 100%;
    margin: 90px auto;
}

section.h100 {
    height: 100vh;
    margin: 0;
}

section > div,
header > div,
footer > div {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    max-width: 1920px;
    padding-left: 90px;
    padding-right: 90px;
    align-items: center;
    justify-content: center;
}

.absolute {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.row > div { width: 50%; }
.row > div:last-child { padding-left: 90px; }

.col { flex-direction: column; }
.col > div { width: 100%; }

div > .w100 { width: 100% !important; }
div > .w1024 { width: 1024px !important; }
div > .w1280 { width: 1280px !important; }
div > .w1400 { width: 1400px !important; }

div > .w1024, div > .w1280, div > .w1400 {
    max-width: 100%;
}

.row > .w25 { width: 25%; }
.row > .w30 { width: 30%; }
.row > .w35 { width: 35%; }
.row > .w40 { width: 40%; }
.row > .w45 { width: 45%; }
.row > .w55 { width: 55%; }
.row > .w60 { width: 60%; }
.row > .w65 { width: 65%; }
.row > .w70 { width: 70%; }
.row > .w75 { width: 75%; }

.center {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.p0 { padding: 0; }
.pt0 { padding-top: 0; }
.pr0 { padding-right: 0; }
.pb0 { padding-bottom: 0; }
.pl0 { padding-left: 0; }

.m0 { margin: 0; }
.mt0 { margin-top: 0; }
.mr0 { margin-right: 0; }
.mb0 { margin-bottom: 0; }
.ml0 { margin-left: 0; }

/*** RELATIVE ANIMATIONS ***/

.parallax {
    width: 100%;
    height: 100%;
}

.perspective {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.perspective > * {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

/*** SCROLL DOWN ICON ***/

.scroll-icon {
    left: 0;
    right: 0;
    width: 26px;
    height: 45px;
    bottom: 15px;
    margin: auto;
    position: absolute;
    border-radius: 13px;
    padding: 0 !important;
    border: solid 2px #434442;
    animation: blink 2s linear infinite;
    background-color: rgba(255,255,255,.3);
}

.scroll-icon::after {
    content: "";
    width: 2px;
    height: 10px;
    display: block;
    margin-top: -21px;
    background-color: #434442;
}

@keyframes blink {
    0% { opacity: .8; }
    50% { opacity: .2; }
    100% { opacity: .8; }
}

/*** OTHER ***/

iframe {
    width: 100%;
    border: none;
}

.link {
    text-decoration: none;
    text-transform: capitalize;
}

.no-overflow {
    overflow: hidden !important;
    padding: 0;
    margin: 0;
}

/*** HEADER ***/

header {
    top: 0;
    z-index: 10;
    width: 100vw;
    height: 100px;
    position: fixed;
    padding-right: 17px;
}

header > div {
    margin: auto;
}

.logo, .logo img {
    min-height: 50px;
    display: block;
    transition-duration: .2s;
}

/*** MENU ***/

.menu li.current_page_item, nav li.current_page_item {

}

.menu, nav, nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu li, nav li {
    display: block;
    list-style: none;
}

.menu a, nav a {
    padding: 10px;
    display: block;
    color: #303438;
    white-space: nowrap;
    text-decoration: none;
    transition-duration: .2s;
}

/*** MENU BUTTON - "HAMBURGER" ***/

#menu-btn {
    top: 15px;
    margin: 0;
    width: 64px;
    right: 15px;
    z-index: 11;
    height: 64px;
    border: none;
    display: none;
    cursor: pointer;
    position: fixed;
    text-align: center;
    background-color: transparent;
}

#menu-btn span {
    left: 0;
    right: 0;
    bottom: 0;
    width: 44px;
    height: 3px; 
    margin: auto;
    display: block;
    position: absolute;
    transition-duration: .2s;
    background-color: #FFFFFF;
}

#menu-btn span:nth-child(1) { top: -24px; }
#menu-btn span:nth-child(2) { top: 0; }
#menu-btn span:nth-child(3) { top: 24px; }

#menu-btn.active span:nth-child(2) { opacity: 0; }
#menu-btn.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 0;

}
#menu-btn.active span:nth-child(3) {
    transform: rotate(135deg);
    top: 0;
}

/*** SEEK AND SHOW ***/

.h {
    -webkit-transition-duration: 1s !important;
    transition-duration: 1s !important;
    -webkit-transform-origin: center;
    transform-origin: center;
    visibility: visible;
    transform: none;
}

.h.hidden {
    opacity: 0;
    visibility: hidden;
    transform: scale(.9);
}

.delay2 {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

.delay4 {
    -webkit-transition-delay: .4s;
    transition-delay: .4s; 
}

.delay6 {
    -webkit-transition-delay: .6s;
    transition-delay: .6s; 
}

.delay8 {
    -webkit-transition-delay: .8s;
    transition-delay: .8s; 
}

.origin-c {
    -webkit-transform-origin: center;
    transform-origin: center;
}

.origin-t {
    -webkit-transform-origin: top;
    transform-origin: top;
}

/*** POPUPS ***/

.popup {
    position: fixed;
}

.popup.full {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    right: -100%;
    padding: 90px;
    visibility: hidden;
    transition-duration: 1s;
    background-color: rgba(255,255,255,.8);
}

.popup {
    visibility: visible;
    opacity: 1;
}

.popup.full > div {
    width: 100%;
    height: 100%;
    right: -100%;
    position: absolute;
    transition-duration: 1s;
    background-color: #01848E;
}

.popup.full > div {
    right: 0;
}

/*** BUTTONS ***/

button, .btn, .close, .next, .prev {
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    cursor: pointer;
}

button, .btn {
    border: none;
    height: 45px;
    color: #FFFFFF;
    max-width: 100%;
    overflow: hidden;
    line-height: 50px;
    margin-right: 30px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.close {
    top: 30px;
    margin: 0;
    outline: 0;
    right: 30px;
    width: 51px;
    height: 51px;
    font-size: 38px;
    cursor: pointer;
    overflow: hidden;
    line-height: 48px;
    position: absolute;
    border-radius: 100%;
    background-color: transparent;
}

.close::before, .close::after {
    content: "";
    left: 0;
    right: 0;
    top: 1px;
    bottom: 0;
    height: 0px;
    width: 25px;
    margin: auto;
    display: block;
    position: absolute;
    transition-duration: .3s;
    border-bottom: solid 4px #FFFFFF;
}

.close::after {
    transform: rotate(-45deg);
}

.close::before {
    transform: rotate(45deg);
}

.close:hover {
    background: none;
    opacity: .7;
}

.zoomed .close::before {
    left: 11px;
    width: 10px;
    bottom: -12px;
}

.zoomed .close::after {
    left: -5px;
    width: 10px;
    bottom: 5px;
    height: 10px;
    border-radius: 50%;
    border: solid 4px #FFFFFF;
}


.next, .prev {
    top: 0;
    margin: 0;
    outline: 0;
    opacity: .5;
    width: 80px;
    height: 100%;
    display: block;
    background: none;
    position: absolute;
}

.next { right: 0; }
.prev { left: 0; }

#fs.zoomed .next, 
#fs.zoomed .prev {
    opacity: 0;
    visibility: hidden;
}

.next::before, .prev::before,
.next::after, .prev::after {
    content: "";
    left: 30px;
    width: 20px;
    height: 5px;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    transition-duration: .2s;
    background-color: #FFFFFF;
}

.next::before, .prev::before {
    transform: rotate(-45deg);
    margin-top: 5.5px;
}

.next::after, .prev::after {
    margin-top: -5.5px;
}

.prev::before {
    transform: rotate(-135deg);
}

.prev::after {
    transform: rotate(135deg);
}

.next:hover, .prev:hover {
    background: none;
    opacity: .1;
}

/*** TABLES ***/

table {
    width: 100%;
    border: none;
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;
}

.avp-prix tr, .avp-prix th, .avp-prix td {
    height: 30px;
    transition-duration: .3s;
}

.avp-prix tr {
    transition-delay: .3s;
}

.avp-prix th {
    cursor: pointer;
}

.avp-prix th:hover {

}

/*** TABLE ROWS IF FILTER APPLIED ***/

tr.hide {
    height: 0;
}

tr.hidden {
    display: none;
}

tr.hide td {
    visibility: hidden;
    opacity: 0;
}

tr.hidden td {
    display: none;
}

tr.hide td.hidden {
    display: none;
}

/*** FACADE ***/

.bat {
    transition-duration: .3s;
    transition-delay: .3s;
}

.bat.hide {
    opacity: .4;
    transition-delay: 0s;
}

.lot {
    cursor: pointer;
}

polygon, path, rect {
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    /*transition-duration: .2s;*/
}

.grey polygon, .grey path, .grey rect {
    cursor: default;
}

.v.hover *, .v:hover * { fill: #F98888; }
.r.hover *, .r:hover * { fill: #F2EBA6; }
.d.hover *, .d:hover * { fill: #9EE18E; }

.floor {
    transition-duration: .3s;
}

.move {
    opacity: .5;
    transform: translateY(-280px);
}

.ie .move {
    opacity: 0;
    visibility: hidden;
    transition-delay: .2s;
}

#tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 9;
}

#tooltip > div {
    opacity: 0;
    width: 200px;
    display: flex;
    border: solid 3px;
    visibility: hidden;
    flex-direction: row;
    transition-duration: .3s;
    background-color: #FFFFFF;
}

#tooltip th, #tooltip td {
    font-size: 12px;
    height: auto;
}

#tooltip.visible {
    visibility: visible;
}

#tooltip.visible > div {
    visibility: visible;
    opacity: 1;
}

#tooltip span {
    display: block;
    padding: 0 5px;
}

.d .disp span { background-color: #9EE18E; }
.r .disp span { background-color: #F2EBA6; }
.v .disp span { background-color: #F98888; }

tr.d:hover td, tr.d.hover td { background-color: rgba(158,225,142,.6) !important; }
tr.r:hover td, tr.r.hover td { background-color: rgba(242,235,166,.6) !important; }
tr.v:hover td, tr.v.hover td { background-color: rgba(249,136,136,.6) !important; }

/*** FULLSCREEN ***/

#fs, #fs-wrap, #fs-img {
    width: 100%;
    height: 100%;
    user-select: none;
}

#fs {
    background: rgba(28,28,28,.9);
    transition-duration: .3s;
    visibility: hidden;
    position: fixed;
    padding: 30px;
    z-index: 13;
    opacity: 0;
    left: 0;
    top: 0;
}

#fs.active {
    opacity: 1;
    visibility: visible;
}

#fs-wrap {
    transition-duration: .2s;
    overflow: hidden;
    cursor: zoom-in;
}

#fs.zoomed #fs-wrap {
    transform: scale(2);
    cursor: grab;
}

#fs.moving #fs-wrap {
    cursor: grabbing;
}

#fs-img {
    transition-duration: .3s;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

#fs.zoomed #fs-img {
    transition-duration: 0s;
}

/*** INPUTS ***/

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
}

textarea {
    height: 150px;
    resize: none;
}

/*** SUCCES ***/

#succes .icon {
    width: 120px;
    height: 120px;
    display: flex;
    color: #FFFFFF;
    font-size: 80px;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    margin: 0 auto 30px auto;
    transition-duration: .6s;
    border: solid 10px #FFFFFF;
    box-shadow: 0 0 0 10px #2E3136;
}

#succes .icon {
    background-color: #FFFFFF;
}

#succes .display.sended {
    background-color: #9EE18E;
}

#succes .display.not-sended {
    background-color: #F98888;
}

#succes .icon img {
    transition-duration: .6s;
    transition-delay: .2s;
    height: 30px;
    width: 30px;
    opacity: 0;
}

#succes .icon.display img {
    width: 100px;
    height: 100px;
    opacity: 1;
}

#succes {
    padding-bottom: 110px;
}

#succes section {
    margin-bottom: 0;
}

/*** FACADE INTERACTIVE ***/

section.prix {
    min-height: unset;
}

#lot-container {
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 12;
    width: 100%;
    height: 100%;
    padding: 90px;
    position: fixed;
    visibility: hidden;
    transition-duration: .3s;
    background-color: rgba(0,0,0,.6);
}

#lot-container > div {
    background-color: #FFFFFF;
    transition-duration: .5s;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    top: -100px;
}

#lot-container .row > div {
    height: 100%;
    padding: 60px;
    text-align: center;
}

#lot-container.active {
    opacity: 1;
    visibility: visible;
}

#lot-container.active > div {
    top: 0;
}

#lot-png {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: contain;
}

#lot-data {
    overflow-y: auto;
}

/*** RESOLUTIONS - WIDTH ***/

@media only screen and (max-width: 1400px) {

}

@media only screen and (max-width: 1280px) {
    section {
        margin: 60px auto;
    }

    #lot-container, #lot-container .row > div {
        padding: 60px;
    }

    section > div, header > div, footer > div {
        padding-left: 60px;
        padding-right: 60px;
    }

    .row > div:last-child {
        padding-left: 60px;
    }
}

@media only screen and (max-width: 1024px) {
    section {
        margin: 30px auto;
    }

    #lot-container, #lot-container .row > div {
        padding: 30px;
    }
    
    #lot-container {
        padding-top: 80px !important;
    }

    section > div, header > div, footer > div {
        padding-left: 30px;
        padding-right: 30px;
    }    
    .row > div:last-child {
        padding-left: 30px;
    }

    #menu-btn {
        display: block;
    }

    .menu, nav, nav ul {
        width: 300px;
        padding: 30px;
        right: -300px;
        position: fixed;
        flex-direction: column;
        justify-content: unset;
        transition-duration: .2s;
    }

    .active-menu .menu, nav, nav ul {
        right: 0;
    }

    .menu li, nav li {
        width: 100%;
        text-align: center;
    }

    header .menu a, header nav a {
        padding: 15px;
    }

    .menu li.current_page_item::after {
        content: none !important;
    }

    .close {
        right: 5px;
        top: 5px;
    }
}

@media only screen and (max-width: 800px) {
    section > div, header > div, footer > div {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    #lot-container, #lot-container .row > div {
        padding: 15px;
    }

    .row > div:last-child {
        padding-left: 0;
        margin-top: 30px;
    }

    .row {
        flex-direction: column;
    }

    .row > div {
        width: 100% !important;
    }

    #facade {
        display: none;
    }

    #fs {
        padding: 15px;
    }   

    table {
        table-layout: auto;
    }
}

@media only screen and (max-width: 600px) {
    section > div, header > div, footer > div {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

/*** RESOLUTIONS - HEIGHT ***/

@media only screen and (max-height: 740px) {
    #lot-container, #lot-container .row > div {
        padding: 30px;
    }
}

@media only screen and (max-height: 600px) {
    #lot-container, #lot-container .row > div {
        padding: 10px;
    }
}